<h1><%= @user.username %></h1>

<% if @user.events.empty? %>
    <p>User has no events.</p>
<% else %>
    <b>Events owned by user: </b>
    <ul>
      <% @user.events.each do |e| %>
          <li>  <%= link_to e.name, e %> </li>
      <% end %>
    </ul>
<% end %>